In [153]:
import pandas as pd
import numpy as np
import chardet
import dask.dataframe as dd
import psutil
import os
import time

In [154]:
# Function to get memory usage in MB
def get_memory_usage():
    process = psutil.Process(os.getpid())
    return process.memory_info().rss / 1024 / 1024

file_path = 'globalterrorismdb_0718dist.csv'
with open(file_path, 'rb') as f:
    raw_data = f.read(10000)
    result = chardet.detect(raw_data)

# Load dataset using Pandas
start_time = time.time()
df = pd.read_csv(file_path, encoding=result['encoding'])
pandas_load_time = time.time() - start_time
pandas_memory_usage = get_memory_usage()

# Load dataset using Dask
start_time = time.time()
dask_df = dd.read_csv(file_path, encoding=result['encoding'])
dask_load_time = time.time() - start_time
dask_memory_usage = get_memory_usage()

print(f"Pandas Load Time: {pandas_load_time} seconds")
print(f"Pandas Memory Usage: {pandas_memory_usage} MB")
print(f"Dask Load Time: {dask_load_time} seconds")
print(f"Dask Memory Usage: {dask_memory_usage} MB")

C:\Users\ahmed\AppData\Local\Temp\ipykernel_20108\1648581182.py:13: DtypeWarning: Columns (4,6,31,33,61,62,63,76,79,90,92,94,96,114,115,121) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path, encoding=result['encoding'])

Pandas Load Time: 2.3142383098602295 seconds
Pandas Memory Usage: 594.4921875 MB
Dask Load Time: 0.03918337821960449 seconds
Dask Memory Usage: 597.640625 MB

In [155]:
pd.set_option('display.max_columns', None)
df.head(5)
df.columns
# df.shape

Index(['eventid', 'iyear', 'imonth', 'iday', 'approxdate', 'extended',
       'resolution', 'country', 'country_txt', 'region',
       ...
       'addnotes', 'scite1', 'scite2', 'scite3', 'dbsource', 'INT_LOG',
       'INT_IDEO', 'INT_MISC', 'INT_ANY', 'related'],
      dtype='object', length=135)

In [156]:
# Choosing only the columns that are needed

df1 = df[
    ['iyear', 'imonth', 'iday', 'country_txt', 'extended',
     'success', 'suicide' ,'region_txt', 'city', 'latitude', 
     'longitude', 'attacktype1_txt', 'targtype1_txt', 'natlty1_txt',
     'gname','nkill', 'nwound', 'weaptype1_txt']
     ]

In [157]:
print(df1.columns, df1.shape)
df1.head(10)

Index(['iyear', 'imonth', 'iday', 'country_txt', 'extended', 'success',
       'suicide', 'region_txt', 'city', 'latitude', 'longitude',
       'attacktype1_txt', 'targtype1_txt', 'natlty1_txt', 'gname', 'nkill',
       'nwound', 'weaptype1_txt'],
      dtype='object') (181691, 18)

,iyear,imonth,iday,country_txt,extended,success,suicide,region_txt,city,latitude,longitude,attacktype1_txt,targtype1_txt,natlty1_txt,gname,nkill,nwound,weaptype1_txt
0,1970,7,2,Dominican Republic,0,1,0,Central America & Caribbean,Santo Domingo,18.456792,-69.951164,Assassination,Private Citizens & Property,Dominican Republic,MANO-D,1.0,0.0,Unknown
1,1970,0,0,Mexico,0,1,0,North America,Mexico city,19.371887,-99.086624,Hostage Taking (Kidnapping),Government (Diplomatic),Belgium,23rd of September Communist League,0.0,0.0,Unknown
2,1970,1,0,Philippines,0,1,0,Southeast Asia,Unknown,15.478598,120.599741,Assassination,Journalists & Media,United States,Unknown,1.0,0.0,Unknown
3,1970,1,0,Greece,0,1,0,Western Europe,Athens,37.997490,23.762728,Bombing/Explosion,Government (Diplomatic),United States,Unknown,NaN,NaN,Explosives
4,1970,1,0,Japan,0,1,0,East Asia,Fukouka,33.580412,130.396361,Facility/Infrastructure Attack,Government (Diplomatic),United States,Unknown,NaN,NaN,Incendiary
5,1970,1,1,United States,0,1,0,North America,Cairo,37.005105,-89.176269,Armed Assault,Police,United States,Black Nationalists,0.0,0.0,Firearms
6,1970,1,2,Uruguay,0,0,0,South America,Montevideo,-34.891151,-56.187214,Assassination,Police,Uruguay,Tupamaros (Uruguay),0.0,0.0,Firearms
7,1970,1,2,United States,0,1,0,North America,Oakland,37.791927,-122.225906,Bombing/Explosion,Utilities,United States,Unknown,0.0,0.0,Explosives
8,1970,1,2,United States,0,1,0,North America,Madison,43.076592,-89.412488,Facility/Infrastructure Attack,Military,United States,New Year's Gang,0.0,0.0,Incendiary
9,1970,1,3,United States,0,1,0,North America,Madison,43.072950,-89.386694,Facility/Infrastructure Attack,Government (General),United States,New Year's Gang,0.0,0.0,Incendiary

In [158]:
(df1.isnull().sum()/len(df1))*100

iyear              0.000000
imonth             0.000000
iday               0.000000
country_txt        0.000000
extended           0.000000
success            0.000000
suicide            0.000000
region_txt         0.000000
city               0.239417
latitude           2.507554
longitude          2.508104
attacktype1_txt    0.000000
targtype1_txt      0.000000
natlty1_txt        0.858050
gname              0.000000
nkill              5.676120
nwound             8.977330
weaptype1_txt      0.000000
dtype: float64

In [159]:
df2 = df1.dropna()
(df2.isnull().sum()/len(df2))*100
df2.reset_index(drop=True, inplace=True)

In [160]:
df2.nunique()

iyear                 47
imonth                13
iday                  32
country_txt          202
extended               2
success                2
suicide                2
region_txt            12
city               32320
latitude           44295
longitude          44038
attacktype1_txt        9
targtype1_txt         22
natlty1_txt          212
gname               3291
nkill                179
nwound               238
weaptype1_txt         12
dtype: int64

In [161]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159029 entries, 0 to 159028
Data columns (total 18 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   iyear            159029 non-null  int64
 1   imonth           159029 non-null  int64
 2   iday             159029 non-null  int64
 3   country_txt      159029 non-null  object
 4   extended         159029 non-null  int64
 5   success          159029 non-null  int64
 6   suicide          159029 non-null  int64
 7   region_txt       159029 non-null  object
 8   city             159029 non-null  object
 9   latitude         159029 non-null  float64
 10  longitude        159029 non-null  float64
 11  attacktype1_txt  159029 non-null  object
 12  targtype1_txt    159029 non-null  object
 13  natlty1_txt      159029 non-null  object
 14  gname            159029 non-null  object
 15  nkill            159029 non-null  float64
 16  nwound           159029 non-null  float64
 17  weaptype1_txt    159029 non-null  object
dtypes: float64(4), int64(6), object(8)
memory usage: 21.8+ MB

In [162]:
df2 = df2.drop_duplicates()
df2.reset_index(drop=True, inplace=True)

In [163]:
for c in df2:
    print(df2[c].name ,df2[c].unique())

iyear [1970 1971 1972 1973 1974 1975 1976 1977 1978 1979 1980 1981 1986 1982
 1983 1984 1985 1987 1988 1989 1990 1991 1992 1994 1995 1996 1997 1998
 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012
 2013 2014 2015 2016 2017]
imonth [ 7  0  1  2  3  4  5  6  8  9 10 11 12]
iday [ 2  0  1  3  6  8  9 12 13 14 15 19 20 21 22 25 26 27 28 30 31  4  7 11
 16 17 18 23 24  5 10 29]
country_txt ['Dominican Republic' 'Mexico' 'Philippines' 'United States' 'Uruguay'
 'Italy' 'Guatemala' 'Venezuela' 'West Germany (FRG)' 'Switzerland'
 'Brazil' 'Egypt' 'Argentina' 'Lebanon' 'Japan' 'Jordan' 'Turkey'
 'Paraguay' 'East Germany (GDR)' 'United Kingdom' 'Greece' 'Nicaragua'
 'Belgium' 'Netherlands' 'Canada' 'Iran' 'Australia' 'Pakistan' 'Spain'
 'Ethiopia' 'Sweden' 'South Yemen' 'Cambodia' 'Israel' 'Poland' 'Panama'
 'West Bank and Gaza Strip' 'Ireland' 'India' 'Austria' 'France'
 'South Vietnam' 'Colombia' 'Brunei' 'Zaire'
 "People's Republic of the Congo" 'Portugal' 'Algeria' 'El Salvador'
 'Thailand' 'Haiti' 'Morocco' 'Cyprus' 'Afghanistan' 'Peru' 'Chile'
 'Yugoslavia' 'Ecuador' 'New Zealand' 'Zambia' 'Malaysia' 'Bolivia'
 'Singapore' 'Botswana' 'Kuwait' 'Jamaica' 'Chad' 'North Yemen' 'Syria'
 'South Korea' 'United Arab Emirates' 'South Africa' 'Kenya' 'Iraq'
 'Somalia' 'Sri Lanka' 'Namibia' 'Bahamas' 'Nigeria' 'Barbados'
 'Costa Rica' 'Taiwan' 'Bangladesh' 'Mauritania' 'Djibouti' 'Indonesia'
 'Rhodesia' 'Soviet Union' 'Angola' 'Guyana' 'Mozambique' 'Myanmar'
 'Tunisia' 'Denmark' 'Uganda' 'Honduras' 'Norway' 'Lesotho' 'Tanzania'
 'Gabon' 'Libya' 'Trinidad and Tobago' 'Saudi Arabia' 'Bahrain'
 'Hong Kong' 'Senegal' 'Zimbabwe' 'Guinea' 'Grenada' 'New Hebrides'
 'Belize' 'Guadeloupe' 'Martinique' 'Vatican City' 'Albania' 'Sudan'
 'Central African Republic' 'Seychelles' 'Dominica' 'Qatar' 'Bulgaria'
 'Suriname' 'Swaziland' 'Luxembourg' 'Iceland' 'French Guiana'
 'Burkina Faso' 'Malta' 'New Caledonia' 'Romania' 'Niger' 'Nepal' 'Togo'
 'Finland' 'Fiji' 'Ghana' 'Maldives' 'Mauritius' 'Czechoslovakia'
 'Hungary' 'Laos' 'Papua New Guinea' 'China' 'Liberia'
 'Republic of the Congo' 'Mali' 'Germany' 'Yemen' 'Rwanda' 'Sierra Leone'
 'Cameroon' 'Cuba' 'Croatia' 'Georgia' 'Azerbaijan' 'Madagascar'
 'Lithuania' 'Burundi' 'Ukraine' 'Moldova' 'Armenia' 'Russia'
 'Ivory Coast' 'Kazakhstan' 'Bosnia-Herzegovina' 'Tajikistan' 'Malawi'
 'Uzbekistan' 'Latvia' 'Western Sahara' 'Estonia' 'Vietnam' 'Comoros'
 'Slovak Republic' 'Macedonia' 'Benin' 'Wallis and Futuna'
 'Czech Republic' 'Slovenia' 'Gambia' 'North Korea' 'Eritrea'
 'St. Kitts and Nevis' 'French Polynesia' 'Macau' 'Kyrgyzstan' 'Vanuatu'
 'Belarus' 'Democratic Republic of the Congo' 'Solomon Islands' 'Kosovo'
 'East Timor' 'St. Lucia' 'Guinea-Bissau' 'Montenegro' 'International'
 'Turkmenistan' 'Serbia-Montenegro' 'Bhutan' 'Serbia' 'Equatorial Guinea'
 'South Sudan']
extended [0 1]
success [1 0]
suicide [0 1]
region_txt ['Central America & Caribbean' 'North America' 'Southeast Asia'
 'South America' 'Western Europe' 'Middle East & North Africa' 'East Asia'
 'Eastern Europe' 'Australasia & Oceania' 'South Asia'
 'Sub-Saharan Africa' 'Central Asia']
city ['Santo Domingo' 'Mexico city' 'Unknown' ... 'Hungrum' 'Ceelka Geelow'
 'Kubentog']
latitude [18.456792 19.371887 15.478598 ...  2.359673 35.407278  6.900742]
longitude [-69.951164 -99.086624 120.599741 ...  45.385034  35.942679 124.437908]
attacktype1_txt ['Assassination' 'Hostage Taking (Kidnapping)' 'Armed Assault'
 'Bombing/Explosion' 'Facility/Infrastructure Attack' 'Hijacking'
 'Unknown' 'Unarmed Assault' 'Hostage Taking (Barricade Incident)']
targtype1_txt ['Private Citizens & Property' 'Government (Diplomatic)'
 'Journalists & Media' 'Police' 'Utilities' 'Military'
 'Government (General)' 'Airports & Aircraft' 'Business'
 'Educational Institution' 'Violent Political Party'
 'Religious Figures/Institutions' 'Unknown' 'Transportation' 'NGO'
 'Telecommunication' 'Food or Water Supply' 'Terrorists/Non-State Militia'
 'Other' 'Tourists' 'Maritime' 'Abortion Related']
natlty1_txt ['Dominican Republic' 'Belgium' 'United States' 'Uruguay' 'Great Britain'
 'Venezuela' 'Puerto Rico' 'Germany' 'Austria' 'Switzerland' 'Ethiopia'
 'Japan' 'Egypt' 'Paraguay' 'Soviet Union' 'China' 'Israel'
 'West Bank and Gaza Strip' 'Argentina' 'Philippines' 'Multinational'
 'Northern Ireland' 'Brazil' 'Haiti' 'South Africa' 'Portugal' 'Greece'
 'Nicaragua' 'Yugoslavia' 'Rhodesia' 'Ivory Coast' 'International'
 'Canada' 'Iran' 'Poland' 'Sweden' 'Turkey' 'Spain' 'Russia' 'Iraq' 'Cuba'
 'France' 'Jordan' 'Malawi' 'Democratic Republic of the Congo' 'Chile'
 'Netherlands' 'Italy' 'Hong Kong' 'Yemen' 'Mexico' 'Syria' 'Colombia'
 'New Zealand' 'India' 'Senegal' 'Algeria' 'Peru' 'Czechoslovakia'
 'Saudi Arabia' 'Denmark' 'West Germany (FRG)' 'Bahamas' 'Bolivia'
 'El Salvador' 'Botswana' 'Guatemala' 'Lebanon' 'North Korea' 'Albania'
 'South Korea' 'United Kingdom' 'Kenya' 'Pakistan' 'Cyprus' 'Panama'
 'Costa Rica' 'Sri Lanka' 'Ecuador' 'Malaysia' 'Morocco' 'Somalia'
 'Nigeria' 'Namibia' 'Armenia' 'Barbados' 'Kuwait' 'Mozambique' 'Taiwan'
 'Tunisia' 'Trinidad and Tobago' 'Mauritania' 'Bulgaria' 'Thailand'
 'Bahrain' 'Finland' 'Vietnam' 'Ireland' 'United Arab Emirates'
 'Australia' 'Angola' 'Zimbabwe' 'Norway' 'Myanmar' 'Jamaica' 'Uganda'
 'Croatia' 'Lesotho' 'Tanzania' 'Guinea' 'Guyana' 'Libya' 'Eritrea'
 'Afghanistan' 'Honduras' 'Zaire' 'Mali' 'Bangladesh' 'Grenada' 'Vanuatu'
 'Belize' 'Romania' 'Indonesia' 'Sudan' 'Chad' 'Central African Republic'
 'Liberia' 'Malta' 'Seychelles' 'Dominica'
 "People's Republic of the Congo" 'Suriname' 'North Yemen' 'Vatican City'
 'Guadeloupe' 'Martinique' 'Swaziland' 'Burkina Faso' 'Man, Isle of'
 'New Caledonia' 'Cambodia' 'Singapore' 'Corsica' 'Luxembourg' 'Niger'
 'Nepal' 'Hungary' 'Togo' 'Zambia' 'Iceland' 'Sinhalese' 'Fiji' 'Ghana'
 'Maldives' 'Mauritius' 'Djibouti' 'Papua New Guinea' 'Qatar' 'Rwanda'
 'Cameroon' 'Estonia' 'Sierra Leone' 'Lithuania' 'Latvia' 'Greenland'
 'Bosnia-Herzegovina' 'Madagascar' 'Burundi' 'Azerbaijan' 'Kazakhstan'
 'Georgia' 'Commonwealth of Independent States' 'Ukraine' 'Moldova'
 'Tajikistan' 'Laos' 'Brunei' 'Uzbekistan' 'Comoros' 'Serbia-Montenegro'
 'Republic of the Congo' 'Gabon' 'Slovak Republic' 'Macedonia' 'Mongolia'
 'Benin' 'Oman' 'Czech Republic' 'Gambia' 'Asian' 'Serbia'
 'St. Kitts and Nevis' 'Kyrgyzstan' 'Macau' 'Slovenia' 'French Guiana'
 'Belarus' 'East Timor' 'Solomon Islands' 'Kosovo' 'St. Lucia'
 'Guinea-Bissau' 'Montenegro' 'Bhutan' 'Bermuda' 'St. Martin'
 'Equatorial Guinea' 'South Sudan' 'Turkmenistan' 'Tuvalu'
 'Virgin Islands (U.S.)' 'Marshall Islands']
gname ['MANO-D' '23rd of September Communist League' 'Unknown' ...
 'Fatoni Warriors' 'Minorities of Metropolitan Attacks'
 'Baloch Republican Party']
nkill [1.000e+00 0.000e+00 7.000e+00 4.700e+01 2.000e+00 3.000e+00 4.000e+00
 2.600e+01 8.100e+01 8.000e+00 5.000e+00 3.000e+01 1.200e+01 2.500e+01
 8.800e+01 1.100e+01 1.000e+01 2.700e+01 1.900e+01 6.000e+00 9.000e+00
 1.300e+01 7.300e+01 1.000e+02 1.400e+01 4.200e+01 1.700e+01 9.800e+01
 4.220e+02 3.400e+01 5.400e+01 2.200e+01 1.800e+01 1.600e+01 5.000e+01
 2.000e+01 4.100e+01 1.500e+01 2.800e+01 4.000e+01 2.100e+01 3.200e+01
 8.500e+01 2.300e+01 3.000e+02 3.500e+01 6.000e+01 2.400e+01 8.700e+01
 4.500e+01 3.800e+01 2.900e+01 3.600e+01 7.400e+01 3.100e+01 8.300e+01
 9.000e+01 7.000e+01 6.600e+01 4.800e+01 8.000e+01 6.700e+01 5.100e+01
 3.900e+01 7.500e+01 3.700e+01 5.700e+01 4.600e+01 5.600e+01 6.300e+01
 1.200e+02 5.800e+01 1.020e+02 7.900e+01 7.700e+01 4.900e+01 1.110e+02
 1.650e+02 2.410e+02 1.080e+02 1.320e+02 6.500e+01 4.300e+01 2.280e+02
 3.300e+01 1.800e+02 2.500e+02 9.300e+01 2.000e+02 1.300e+02 5.900e+01
 9.400e+01 1.460e+02 5.200e+01 3.290e+02 6.200e+01 4.400e+01 9.700e+01
 2.400e+02 2.270e+02 1.260e+02 1.060e+02 3.880e+02 6.800e+01 2.700e+02
 8.400e+01 5.300e+01 8.200e+01 1.710e+02 1.070e+02 5.500e+01 1.120e+02
 1.140e+02 7.200e+01 9.600e+01 1.400e+02 6.100e+01 1.050e+02 1.150e+02
 1.180e+03 1.700e+02 7.600e+01 1.680e+02 1.210e+02 3.750e+02 6.400e+01
 9.100e+01 1.350e+02 1.240e+02 2.560e+02 2.710e+02 2.060e+02 1.040e+02
 2.240e+02 9.500e+01 1.384e+03 1.383e+03 1.900e+02 1.190e+02 1.010e+02
 7.100e+01 1.100e+02 5.180e+02 3.440e+02 1.600e+02 1.880e+02 1.030e+02
 2.050e+02 9.200e+01 1.450e+02 1.530e+02 1.270e+02 6.900e+01 1.500e+02
 1.410e+02 1.340e+02 8.900e+01 8.600e+01 2.870e+02 6.700e+02 2.980e+02
 1.220e+02 1.580e+02 1.440e+02 2.080e+02 1.520e+02 2.300e+02 1.740e+02
 1.430e+02 3.830e+02 1.540e+02 2.840e+02 7.800e+01 1.510e+02 2.660e+02
 1.630e+02 1.280e+02 5.880e+02 3.110e+02]
nwound [0.000e+00 1.000e+00 2.000e+00 7.000e+00 9.000e+00 1.700e+01 5.000e+00
 3.000e+00 1.000e+01 1.200e+01 2.000e+01 4.000e+00 1.100e+01 2.700e+01
 1.300e+01 1.900e+01 1.300e+02 5.600e+01 2.400e+01 6.000e+00 7.200e+01
 2.380e+02 5.500e+01 1.500e+01 8.000e+00 1.800e+01 5.000e+01 3.400e+01
 1.400e+01 7.000e+01 1.020e+02 4.100e+01 4.800e+01 3.600e+01 2.500e+01
 8.100e+01 5.400e+01 5.300e+01 1.000e+02 4.500e+01 3.300e+01 4.000e+01
 6.200e+01 7.400e+01 2.200e+01 3.100e+01 1.600e+01 3.000e+01 2.850e+02
 2.300e+01 4.200e+01 4.300e+01 7.600e+01 4.400e+01 5.200e+01 4.600e+01
 4.900e+01 1.600e+02 3.700e+01 2.100e+01 6.000e+01 2.600e+01 2.800e+01
 3.900e+01 3.800e+01 3.500e+01 3.200e+01 7.800e+01 8.000e+01 4.700e+01
 1.880e+02 2.150e+02 8.500e+01 7.500e+01 1.610e+02 9.000e+01 3.000e+02
 9.500e+01 1.350e+02 6.100e+01 1.380e+02 7.100e+01 7.000e+02 6.600e+01
 1.360e+02 1.200e+02 2.170e+02 3.190e+02 1.330e+02 6.800e+01 7.300e+01
 2.900e+01 7.510e+02 2.000e+02 1.120e+02 2.500e+02 8.200e+01 1.320e+02
 2.300e+02 1.070e+02 1.140e+02 8.400e+01 1.400e+02 1.500e+02 5.100e+01
 5.800e+01 6.400e+01 2.950e+02 1.060e+02 1.250e+02 6.900e+01 5.900e+01
 5.700e+01 1.220e+02 1.090e+02 8.800e+01 1.150e+02 1.760e+02 2.200e+02
 9.700e+01 6.500e+01 8.000e+02 1.730e+02 9.200e+01 5.000e+02 2.360e+02
 9.800e+01 2.860e+02 1.410e+02 5.500e+03 6.500e+02 6.710e+02 8.600e+01
 1.040e+02 8.300e+01 1.010e+02 1.272e+03 1.050e+02 3.860e+02 3.910e+02
 1.100e+02 1.490e+02 8.900e+01 9.100e+01 1.190e+02 7.700e+01 1.180e+02
 6.700e+01 1.700e+02 1.940e+02 1.920e+02 2.270e+02 2.600e+02 4.000e+03
 1.800e+02 1.840e+02 9.900e+01 9.400e+01 1.370e+02 8.190e+03 8.191e+03
 1.710e+02 1.210e+02 1.030e+02 1.620e+02 1.970e+02 1.510e+02 2.240e+02
 1.340e+02 2.330e+02 1.670e+02 4.500e+02 2.160e+02 1.450e+02 6.300e+01
 7.270e+02 1.820e+02 1.590e+02 1.080e+02 1.280e+02 3.400e+02 1.630e+02
 5.420e+02 8.700e+01 1.550e+02 9.600e+01 8.170e+02 2.570e+02 1.480e+02
 1.230e+02 2.460e+02 1.270e+02 3.470e+02 1.780e+02 1.680e+02 2.070e+02
 1.830e+02 1.170e+02 7.500e+02 1.470e+02 1.001e+03 9.300e+01 1.540e+02
 2.350e+02 1.580e+02 2.110e+02 1.160e+02 2.760e+02 5.520e+02 3.600e+02
 1.130e+02 1.570e+02 1.750e+02 3.010e+02 1.310e+02 4.000e+02 3.700e+02
 8.500e+00 1.690e+02 2.010e+02 1.110e+02 1.430e+02 1.530e+02 1.240e+02
 7.900e+01 2.700e+02 1.520e+02 2.960e+02 2.450e+02 1.500e+03 3.510e+02
 6.000e+02 4.330e+02 1.770e+02 4.910e+02 4.050e+02 8.510e+02 3.160e+02]
weaptype1_txt ['Unknown' 'Firearms' 'Explosives' 'Incendiary' 'Chemical' 'Melee'
 'Sabotage Equipment'
 'Vehicle (not to include vehicle-borne explosives, i.e., car or truck bombs)'
 'Fake Weapons' 'Radiological' 'Other' 'Biological']

In [164]:
columns_to_check = []

# Identify columns with more than 0.3% 'Unknown' values
for c in df2.columns:
    count_unknown = df2[c].astype(str).str.lower().eq('unknown').sum()
    if count_unknown > 0:
        print(f"Column '{c}' contains {count_unknown} 'Unknown' values out of {len(df2)}")
    if (count_unknown / len(df2)) * 100 < 30:
        columns_to_check.append(c)

# Drop rows with 'Unknown' values in identified columns
for c in columns_to_check:
    df2 = df2[~df2[c].astype(str).str.lower().eq('unknown')]

# Print the shape of the cleaned DataFrame to confirm the changes
print(f"Cleaned DataFrame shape: {df2.shape}")

df2.reset_index(drop=True, inplace=True)

Column 'city' contains 5380 'Unknown' values out of 147850
Column 'attacktype1_txt' contains 5409 'Unknown' values out of 147850
Column 'targtype1_txt' contains 3965 'Unknown' values out of 147850
Column 'gname' contains 71799 'Unknown' values out of 147850
Column 'weaptype1_txt' contains 10640 'Unknown' values out of 147850
Cleaned DataFrame shape: (128838, 18)

In [165]:
for c in df2:
    print(df2[c].name ,df2[c].unique())

iyear [1970 1971 1972 1973 1974 1975 1976 1977 1978 1979 1980 1981 1986 1982
 1983 1984 1985 1987 1988 1989 1990 1991 1992 1994 1995 1996 1997 1998
 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012
 2013 2014 2015 2016 2017]
imonth [ 1  2  3  4  5  6  7  8  9 10 11 12  0]
iday [ 1  2  3  6  8  9 12 13 14 15 19 21 22 25 26 27 28 30 31  4  7 11 16 17
 18 20 23 24  0  5 10 29]
country_txt ['United States' 'Uruguay' 'Italy' 'Philippines' 'West Germany (FRG)'
 'Switzerland' 'Guatemala' 'Egypt' 'Lebanon' 'Japan' 'Jordan' 'Turkey'
 'Paraguay' 'East Germany (GDR)' 'United Kingdom' 'Greece' 'Argentina'
 'Belgium' 'Netherlands' 'Canada' 'Australia' 'Pakistan' 'Spain'
 'Dominican Republic' 'Sweden' 'Iran' 'Venezuela' 'South Yemen' 'Cambodia'
 'Israel' 'Poland' 'Brazil' 'Panama' 'West Bank and Gaza Strip' 'Ireland'
 'India' 'Austria' 'France' 'South Vietnam' 'Colombia' 'Brunei' 'Zaire'
 "People's Republic of the Congo" 'Portugal' 'Algeria' 'El Salvador'
 'Mexico' 'Thailand' 'Morocco' 'Cyprus' 'Peru' 'Chile' 'Yugoslavia'
 'Ecuador' 'New Zealand' 'Zambia' 'Malaysia' 'Botswana' 'Kuwait' 'Jamaica'
 'Ethiopia' 'North Yemen' 'Haiti' 'Syria' 'South Korea'
 'United Arab Emirates' 'Nicaragua' 'South Africa' 'Kenya' 'Sri Lanka'
 'Namibia' 'Bahamas' 'Nigeria' 'Bolivia' 'Barbados' 'Costa Rica' 'Taiwan'
 'Iraq' 'Bangladesh' 'Mauritania' 'Rhodesia' 'Soviet Union' 'Angola'
 'Guyana' 'Mozambique' 'Myanmar' 'Tunisia' 'Denmark' 'Uganda' 'Norway'
 'Lesotho' 'Honduras' 'Tanzania' 'Gabon' 'Libya' 'Afghanistan'
 'Trinidad and Tobago' 'Saudi Arabia' 'Bahrain' 'Hong Kong' 'Zimbabwe'
 'Guinea' 'Grenada' 'New Hebrides' 'Guadeloupe' 'Somalia' 'Martinique'
 'Indonesia' 'Vatican City' 'Albania' 'Sudan' 'Central African Republic'
 'Seychelles' 'Dominica' 'Qatar' 'Bulgaria' 'Suriname' 'Iceland'
 'French Guiana' 'Chad' 'Burkina Faso' 'Malta' 'New Caledonia' 'Romania'
 'Swaziland' 'Singapore' 'Luxembourg' 'Nepal' 'Togo' 'Finland' 'Fiji'
 'Ghana' 'Senegal' 'Djibouti' 'Maldives' 'Mauritius' 'Czechoslovakia'
 'Hungary' 'China' 'Papua New Guinea' 'Niger' 'Liberia'
 'Republic of the Congo' 'Mali' 'Germany' 'Laos' 'Yemen' 'Rwanda'
 'Sierra Leone' 'Cameroon' 'Cuba' 'Croatia' 'Georgia' 'Lithuania'
 'Burundi' 'Azerbaijan' 'Ukraine' 'Moldova' 'Armenia' 'Russia'
 'Madagascar' 'Ivory Coast' 'Bosnia-Herzegovina' 'Malawi' 'Uzbekistan'
 'Latvia' 'Western Sahara' 'Estonia' 'Tajikistan' 'Vietnam' 'Kazakhstan'
 'Comoros' 'Belize' 'Macedonia' 'Benin' 'Wallis and Futuna' 'North Korea'
 'Gambia' 'Slovak Republic' 'Czech Republic' 'St. Kitts and Nevis'
 'French Polynesia' 'Macau' 'Kyrgyzstan' 'Slovenia' 'Eritrea' 'Belarus'
 'Democratic Republic of the Congo' 'Solomon Islands' 'Kosovo'
 'East Timor' 'St. Lucia' 'Guinea-Bissau' 'Montenegro' 'International'
 'Turkmenistan' 'Serbia-Montenegro' 'Bhutan' 'Serbia' 'Equatorial Guinea'
 'South Sudan']
extended [0 1]
success [1 0]
suicide [0 1]
region_txt ['North America' 'South America' 'Western Europe' 'Southeast Asia'
 'Central America & Caribbean' 'Middle East & North Africa' 'East Asia'
 'Eastern Europe' 'Australasia & Oceania' 'South Asia'
 'Sub-Saharan Africa' 'Central Asia']
city ['Cairo' 'Montevideo' 'Oakland' ... 'Hungrum' 'Ceelka Geelow' 'Kubentog']
latitude [ 37.005105 -34.891151  37.791927 ...   2.359673  35.407278   6.900742]
longitude [ -89.176269  -56.187214 -122.225906 ...   45.385034   35.942679
  124.437908]
attacktype1_txt ['Armed Assault' 'Assassination' 'Bombing/Explosion'
 'Facility/Infrastructure Attack' 'Hijacking'
 'Hostage Taking (Kidnapping)' 'Unarmed Assault'
 'Hostage Taking (Barricade Incident)']
targtype1_txt ['Police' 'Utilities' 'Military' 'Government (General)'
 'Airports & Aircraft' 'Business' 'Educational Institution'
 'Violent Political Party' 'Government (Diplomatic)'
 'Private Citizens & Property' 'Religious Figures/Institutions'
 'Transportation' 'NGO' 'Telecommunication' 'Food or Water Supply'
 'Terrorists/Non-State Militia' 'Other' 'Journalists & Media' 'Tourists'
 'Maritime' 'Abortion Related']
natlty1_txt ['United States' 'Uruguay' 'Puerto Rico' 'Germany' 'Austria' 'Switzerland'
 'Ethiopia' 'Egypt' 'Japan' 'China' 'Israel' 'West Bank and Gaza Strip'
 'Philippines' 'Multinational' 'Soviet Union' 'Northern Ireland'
 'Argentina' 'Haiti' 'Dominican Republic' 'South Africa' 'Portugal'
 'Greece' 'Brazil' 'Yugoslavia' 'Rhodesia' 'Ivory Coast' 'International'
 'Canada' 'Great Britain' 'Poland' 'Turkey' 'Spain' 'Russia' 'Iraq' 'Cuba'
 'Iran' 'Venezuela' 'Jordan' 'Malawi' 'Democratic Republic of the Congo'
 'Chile' 'Netherlands' 'Italy' 'Hong Kong' 'Sweden' 'France' 'Mexico'
 'Paraguay' 'New Zealand' 'Senegal' 'Colombia' 'Algeria' 'Peru'
 'Czechoslovakia' 'Saudi Arabia' 'West Germany (FRG)' 'Bahamas'
 'El Salvador' 'Botswana' 'Lebanon' 'North Korea' 'Albania' 'South Korea'
 'Bolivia' 'United Kingdom' 'Nicaragua' 'India' 'Kenya' 'Pakistan'
 'Cyprus' 'Panama' 'Costa Rica' 'Sri Lanka' 'Guatemala' 'Ecuador'
 'Malaysia' 'Morocco' 'Somalia' 'Nigeria' 'Namibia' 'Syria' 'Armenia'
 'Barbados' 'Kuwait' 'Mozambique' 'Taiwan' 'Tunisia' 'Trinidad and Tobago'
 'Yemen' 'Mauritania' 'Bulgaria' 'Thailand' 'Bahrain' 'Finland' 'Vietnam'
 'Ireland' 'United Arab Emirates' 'Belgium' 'Australia' 'Angola'
 'Zimbabwe' 'Myanmar' 'Jamaica' 'Denmark' 'Uganda' 'Croatia' 'Lesotho'
 'Tanzania' 'Guinea' 'Guyana' 'Libya' 'Eritrea' 'Afghanistan' 'Honduras'
 'Zaire' 'Bangladesh' 'Grenada' 'Vanuatu' 'Romania' 'Indonesia' 'Sudan'
 'Chad' 'Central African Republic' 'Liberia' 'Malta' 'Seychelles'
 'Dominica' "People's Republic of the Congo" 'Suriname' 'North Yemen'
 'Vatican City' 'Guadeloupe' 'Martinique' 'Swaziland' 'Burkina Faso'
 'Man, Isle of' 'New Caledonia' 'Singapore' 'Corsica' 'Luxembourg' 'Nepal'
 'Hungary' 'Togo' 'Zambia' 'Sinhalese' 'Fiji' 'Ghana' 'Norway' 'Maldives'
 'Mauritius' 'Djibouti' 'Papua New Guinea' 'Cambodia' 'Mali' 'Qatar'
 'Rwanda' 'Cameroon' 'Estonia' 'Sierra Leone' 'Lithuania' 'Niger' 'Latvia'
 'Greenland' 'Burundi' 'Azerbaijan' 'Madagascar' 'Georgia'
 'Commonwealth of Independent States' 'Ukraine' 'Bosnia-Herzegovina'
 'Moldova' 'Iceland' 'Laos' 'Brunei' 'Tajikistan' 'Kazakhstan' 'Comoros'
 'Serbia-Montenegro' 'Gabon' 'Republic of the Congo' 'Macedonia' 'Benin'
 'Uzbekistan' 'Gambia' 'Slovak Republic' 'Czech Republic' 'Asian' 'Serbia'
 'St. Kitts and Nevis' 'Kyrgyzstan' 'Macau' 'Slovenia' 'French Guiana'
 'Belarus' 'Solomon Islands' 'East Timor' 'Kosovo' 'Belize' 'St. Lucia'
 'Guinea-Bissau' 'Montenegro' 'Bhutan' 'Oman' 'Bermuda' 'St. Martin'
 'Equatorial Guinea' 'South Sudan' 'Tuvalu' 'Virgin Islands (U.S.)'
 'Marshall Islands']
gname ['Black Nationalists' 'Tupamaros (Uruguay)' 'Unknown' ...
 'Fatoni Warriors' 'Minorities of Metropolitan Attacks'
 'Baloch Republican Party']
nkill [0.000e+00 7.000e+00 1.000e+00 4.700e+01 2.000e+00 3.000e+00 4.000e+00
 2.600e+01 8.100e+01 8.000e+00 5.000e+00 3.000e+01 1.200e+01 2.500e+01
 8.800e+01 1.100e+01 1.000e+01 2.700e+01 1.900e+01 6.000e+00 9.000e+00
 1.300e+01 7.300e+01 1.400e+01 4.200e+01 1.700e+01 9.800e+01 4.220e+02
 3.400e+01 5.400e+01 2.200e+01 1.800e+01 1.600e+01 5.000e+01 2.000e+01
 4.100e+01 1.500e+01 2.800e+01 4.000e+01 2.100e+01 3.200e+01 8.500e+01
 2.300e+01 3.000e+02 3.500e+01 6.000e+01 2.400e+01 8.700e+01 4.500e+01
 3.800e+01 1.000e+02 7.400e+01 8.300e+01 9.000e+01 6.600e+01 8.000e+01
 6.700e+01 5.100e+01 3.900e+01 3.700e+01 5.700e+01 3.100e+01 4.600e+01
 7.500e+01 5.600e+01 6.300e+01 1.200e+02 5.800e+01 1.020e+02 7.900e+01
 7.700e+01 4.900e+01 1.110e+02 2.410e+02 1.080e+02 1.320e+02 6.500e+01
 2.900e+01 4.300e+01 3.600e+01 3.300e+01 1.800e+02 2.500e+02 9.300e+01
 5.900e+01 9.400e+01 1.460e+02 5.200e+01 3.290e+02 6.200e+01 4.400e+01
 9.700e+01 7.000e+01 1.260e+02 1.060e+02 3.880e+02 6.800e+01 2.700e+02
 8.400e+01 5.300e+01 4.800e+01 8.200e+01 1.710e+02 1.070e+02 5.500e+01
 1.120e+02 1.140e+02 7.200e+01 9.600e+01 1.400e+02 2.000e+02 6.100e+01
 1.300e+02 1.050e+02 1.150e+02 1.180e+03 1.700e+02 1.680e+02 6.400e+01
 9.100e+01 1.350e+02 1.240e+02 2.560e+02 2.710e+02 2.060e+02 1.040e+02
 2.240e+02 9.500e+01 1.384e+03 1.383e+03 1.900e+02 1.190e+02 1.010e+02
 7.100e+01 1.100e+02 5.180e+02 3.440e+02 1.600e+02 1.880e+02 1.030e+02
 2.050e+02 9.200e+01 1.450e+02 1.530e+02 1.270e+02 6.900e+01 1.500e+02
 1.410e+02 1.340e+02 8.900e+01 8.600e+01 7.600e+01 2.870e+02 6.700e+02
 2.980e+02 1.220e+02 1.580e+02 1.440e+02 2.080e+02 1.520e+02 2.300e+02
 1.740e+02 1.210e+02 1.430e+02 2.400e+02 3.830e+02 1.540e+02 2.840e+02
 7.800e+01 2.660e+02 1.630e+02 1.280e+02 5.880e+02 3.110e+02]
nwound [0.000e+00 1.000e+00 2.000e+00 7.000e+00 9.000e+00 1.700e+01 5.000e+00
 3.000e+00 1.000e+01 1.200e+01 2.000e+01 4.000e+00 1.100e+01 2.700e+01
 1.300e+01 1.900e+01 1.300e+02 5.600e+01 2.400e+01 6.000e+00 7.200e+01
 2.380e+02 5.500e+01 1.500e+01 8.000e+00 1.800e+01 5.000e+01 3.400e+01
 1.400e+01 7.000e+01 1.020e+02 4.100e+01 4.800e+01 3.600e+01 2.500e+01
 8.100e+01 5.400e+01 5.300e+01 1.000e+02 4.500e+01 3.300e+01 4.000e+01
 6.200e+01 7.400e+01 2.200e+01 3.100e+01 1.600e+01 3.000e+01 2.850e+02
 2.300e+01 4.200e+01 4.300e+01 7.600e+01 4.400e+01 5.200e+01 4.600e+01
 4.900e+01 1.600e+02 3.700e+01 2.100e+01 6.000e+01 2.600e+01 2.800e+01
 3.900e+01 3.800e+01 3.500e+01 3.200e+01 7.800e+01 8.000e+01 4.700e+01
 1.880e+02 8.500e+01 7.500e+01 1.610e+02 9.000e+01 3.000e+02 9.500e+01
 1.350e+02 6.100e+01 1.380e+02 7.100e+01 7.000e+02 6.600e+01 1.360e+02
 1.200e+02 2.170e+02 3.190e+02 1.330e+02 6.800e+01 7.300e+01 2.900e+01
 7.510e+02 1.120e+02 2.500e+02 8.200e+01 2.000e+02 1.320e+02 2.300e+02
 1.070e+02 1.140e+02 8.400e+01 1.400e+02 1.500e+02 5.100e+01 5.800e+01
 6.400e+01 2.950e+02 1.060e+02 1.250e+02 6.900e+01 5.900e+01 1.220e+02
 1.090e+02 8.800e+01 1.150e+02 1.760e+02 2.200e+02 9.700e+01 6.500e+01
 5.700e+01 8.000e+02 1.730e+02 9.200e+01 5.000e+02 2.360e+02 9.800e+01
 2.860e+02 5.500e+03 6.500e+02 6.710e+02 8.600e+01 1.040e+02 8.300e+01
 1.010e+02 1.272e+03 1.050e+02 3.860e+02 3.910e+02 1.100e+02 1.490e+02
 8.900e+01 9.100e+01 1.190e+02 7.700e+01 1.180e+02 6.700e+01 1.700e+02
 1.940e+02 1.920e+02 2.270e+02 2.600e+02 4.000e+03 1.800e+02 1.840e+02
 9.900e+01 9.400e+01 1.370e+02 8.190e+03 8.191e+03 1.710e+02 1.210e+02
 1.030e+02 1.620e+02 1.970e+02 1.510e+02 2.240e+02 1.340e+02 2.330e+02
 1.670e+02 4.500e+02 2.160e+02 1.450e+02 6.300e+01 7.270e+02 1.820e+02
 1.590e+02 1.080e+02 1.280e+02 3.400e+02 1.630e+02 5.420e+02 8.700e+01
 1.550e+02 9.600e+01 8.170e+02 2.570e+02 1.480e+02 1.230e+02 2.460e+02
 1.270e+02 3.470e+02 1.780e+02 1.680e+02 2.070e+02 1.830e+02 1.170e+02
 7.500e+02 1.470e+02 1.001e+03 9.300e+01 1.410e+02 1.540e+02 2.350e+02
 1.580e+02 2.110e+02 1.160e+02 2.760e+02 5.520e+02 3.600e+02 1.130e+02
 1.570e+02 1.750e+02 3.010e+02 1.310e+02 4.000e+02 3.700e+02 8.500e+00
 1.690e+02 2.010e+02 1.110e+02 2.150e+02 1.430e+02 1.530e+02 1.240e+02
 7.900e+01 2.700e+02 1.520e+02 2.960e+02 2.450e+02 1.500e+03 3.510e+02
 6.000e+02 4.330e+02 1.770e+02 4.910e+02 4.050e+02 8.510e+02 3.160e+02]
weaptype1_txt ['Firearms' 'Explosives' 'Incendiary' 'Chemical' 'Melee'
 'Sabotage Equipment'
 'Vehicle (not to include vehicle-borne explosives, i.e., car or truck bombs)'
 'Fake Weapons' 'Radiological' 'Other' 'Biological']

In [166]:
'''
to decide whether we're keeping or dropping the zero values in iday and imonth 
columns, Iwe need to check the som of the columns where day or month has zero
in respect with the approx date (we need to use the original df)

'''
# df_day_month_approx = df[(df['iday'] == 0) | (df['imonth'] == 0)][['iday', 'imonth', 'approxdate']]
# print(df_day_month_approx.head(10))

#count the number of zeroes in imonth and iday columns in the df2
zero_count_month = (df2['imonth'] == 0).sum()
print(f"Number of zeroes in 'imonth' column: {zero_count_month}")

zero_count_day = (df2['iday'] == 0).sum()
print(f"Number of zeroes in 'iday' column: {zero_count_day}")


'''
Decisions:
drop the iday column as we don't need the exact day of the attack
fill the zero values in imonth column with the mode of the column
'''

df2.drop('iday', axis=1, inplace=True)
df2['imonth'] = df2['imonth'].replace(0, df2['imonth'].mode()[0])
df2.reset_index(drop=True, inplace=True)

Number of zeroes in 'imonth' column: 6
Number of zeroes in 'iday' column: 385

In [167]:
for c in df2:
    print(df2[c].name ,df2[c].unique())

iyear [1970 1971 1972 1973 1974 1975 1976 1977 1978 1979 1980 1981 1986 1982
 1983 1984 1985 1987 1988 1989 1990 1991 1992 1994 1995 1996 1997 1998
 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012
 2013 2014 2015 2016 2017]
imonth [ 1  2  3  4  5  6  7  8  9 10 11 12]
country_txt ['United States' 'Uruguay' 'Italy' 'Philippines' 'West Germany (FRG)'
 'Switzerland' 'Guatemala' 'Egypt' 'Lebanon' 'Japan' 'Jordan' 'Turkey'
 'Paraguay' 'East Germany (GDR)' 'United Kingdom' 'Greece' 'Argentina'
 'Belgium' 'Netherlands' 'Canada' 'Australia' 'Pakistan' 'Spain'
 'Dominican Republic' 'Sweden' 'Iran' 'Venezuela' 'South Yemen' 'Cambodia'
 'Israel' 'Poland' 'Brazil' 'Panama' 'West Bank and Gaza Strip' 'Ireland'
 'India' 'Austria' 'France' 'South Vietnam' 'Colombia' 'Brunei' 'Zaire'
 "People's Republic of the Congo" 'Portugal' 'Algeria' 'El Salvador'
 'Mexico' 'Thailand' 'Morocco' 'Cyprus' 'Peru' 'Chile' 'Yugoslavia'
 'Ecuador' 'New Zealand' 'Zambia' 'Malaysia' 'Botswana' 'Kuwait' 'Jamaica'
 'Ethiopia' 'North Yemen' 'Haiti' 'Syria' 'South Korea'
 'United Arab Emirates' 'Nicaragua' 'South Africa' 'Kenya' 'Sri Lanka'
 'Namibia' 'Bahamas' 'Nigeria' 'Bolivia' 'Barbados' 'Costa Rica' 'Taiwan'
 'Iraq' 'Bangladesh' 'Mauritania' 'Rhodesia' 'Soviet Union' 'Angola'
 'Guyana' 'Mozambique' 'Myanmar' 'Tunisia' 'Denmark' 'Uganda' 'Norway'
 'Lesotho' 'Honduras' 'Tanzania' 'Gabon' 'Libya' 'Afghanistan'
 'Trinidad and Tobago' 'Saudi Arabia' 'Bahrain' 'Hong Kong' 'Zimbabwe'
 'Guinea' 'Grenada' 'New Hebrides' 'Guadeloupe' 'Somalia' 'Martinique'
 'Indonesia' 'Vatican City' 'Albania' 'Sudan' 'Central African Republic'
 'Seychelles' 'Dominica' 'Qatar' 'Bulgaria' 'Suriname' 'Iceland'
 'French Guiana' 'Chad' 'Burkina Faso' 'Malta' 'New Caledonia' 'Romania'
 'Swaziland' 'Singapore' 'Luxembourg' 'Nepal' 'Togo' 'Finland' 'Fiji'
 'Ghana' 'Senegal' 'Djibouti' 'Maldives' 'Mauritius' 'Czechoslovakia'
 'Hungary' 'China' 'Papua New Guinea' 'Niger' 'Liberia'
 'Republic of the Congo' 'Mali' 'Germany' 'Laos' 'Yemen' 'Rwanda'
 'Sierra Leone' 'Cameroon' 'Cuba' 'Croatia' 'Georgia' 'Lithuania'
 'Burundi' 'Azerbaijan' 'Ukraine' 'Moldova' 'Armenia' 'Russia'
 'Madagascar' 'Ivory Coast' 'Bosnia-Herzegovina' 'Malawi' 'Uzbekistan'
 'Latvia' 'Western Sahara' 'Estonia' 'Tajikistan' 'Vietnam' 'Kazakhstan'
 'Comoros' 'Belize' 'Macedonia' 'Benin' 'Wallis and Futuna' 'North Korea'
 'Gambia' 'Slovak Republic' 'Czech Republic' 'St. Kitts and Nevis'
 'French Polynesia' 'Macau' 'Kyrgyzstan' 'Slovenia' 'Eritrea' 'Belarus'
 'Democratic Republic of the Congo' 'Solomon Islands' 'Kosovo'
 'East Timor' 'St. Lucia' 'Guinea-Bissau' 'Montenegro' 'International'
 'Turkmenistan' 'Serbia-Montenegro' 'Bhutan' 'Serbia' 'Equatorial Guinea'
 'South Sudan']
extended [0 1]
success [1 0]
suicide [0 1]
region_txt ['North America' 'South America' 'Western Europe' 'Southeast Asia'
 'Central America & Caribbean' 'Middle East & North Africa' 'East Asia'
 'Eastern Europe' 'Australasia & Oceania' 'South Asia'
 'Sub-Saharan Africa' 'Central Asia']
city ['Cairo' 'Montevideo' 'Oakland' ... 'Hungrum' 'Ceelka Geelow' 'Kubentog']
latitude [ 37.005105 -34.891151  37.791927 ...   2.359673  35.407278   6.900742]
longitude [ -89.176269  -56.187214 -122.225906 ...   45.385034   35.942679
  124.437908]
attacktype1_txt ['Armed Assault' 'Assassination' 'Bombing/Explosion'
 'Facility/Infrastructure Attack' 'Hijacking'
 'Hostage Taking (Kidnapping)' 'Unarmed Assault'
 'Hostage Taking (Barricade Incident)']
targtype1_txt ['Police' 'Utilities' 'Military' 'Government (General)'
 'Airports & Aircraft' 'Business' 'Educational Institution'
 'Violent Political Party' 'Government (Diplomatic)'
 'Private Citizens & Property' 'Religious Figures/Institutions'
 'Transportation' 'NGO' 'Telecommunication' 'Food or Water Supply'
 'Terrorists/Non-State Militia' 'Other' 'Journalists & Media' 'Tourists'
 'Maritime' 'Abortion Related']
natlty1_txt ['United States' 'Uruguay' 'Puerto Rico' 'Germany' 'Austria' 'Switzerland'
 'Ethiopia' 'Egypt' 'Japan' 'China' 'Israel' 'West Bank and Gaza Strip'
 'Philippines' 'Multinational' 'Soviet Union' 'Northern Ireland'
 'Argentina' 'Haiti' 'Dominican Republic' 'South Africa' 'Portugal'
 'Greece' 'Brazil' 'Yugoslavia' 'Rhodesia' 'Ivory Coast' 'International'
 'Canada' 'Great Britain' 'Poland' 'Turkey' 'Spain' 'Russia' 'Iraq' 'Cuba'
 'Iran' 'Venezuela' 'Jordan' 'Malawi' 'Democratic Republic of the Congo'
 'Chile' 'Netherlands' 'Italy' 'Hong Kong' 'Sweden' 'France' 'Mexico'
 'Paraguay' 'New Zealand' 'Senegal' 'Colombia' 'Algeria' 'Peru'
 'Czechoslovakia' 'Saudi Arabia' 'West Germany (FRG)' 'Bahamas'
 'El Salvador' 'Botswana' 'Lebanon' 'North Korea' 'Albania' 'South Korea'
 'Bolivia' 'United Kingdom' 'Nicaragua' 'India' 'Kenya' 'Pakistan'
 'Cyprus' 'Panama' 'Costa Rica' 'Sri Lanka' 'Guatemala' 'Ecuador'
 'Malaysia' 'Morocco' 'Somalia' 'Nigeria' 'Namibia' 'Syria' 'Armenia'
 'Barbados' 'Kuwait' 'Mozambique' 'Taiwan' 'Tunisia' 'Trinidad and Tobago'
 'Yemen' 'Mauritania' 'Bulgaria' 'Thailand' 'Bahrain' 'Finland' 'Vietnam'
 'Ireland' 'United Arab Emirates' 'Belgium' 'Australia' 'Angola'
 'Zimbabwe' 'Myanmar' 'Jamaica' 'Denmark' 'Uganda' 'Croatia' 'Lesotho'
 'Tanzania' 'Guinea' 'Guyana' 'Libya' 'Eritrea' 'Afghanistan' 'Honduras'
 'Zaire' 'Bangladesh' 'Grenada' 'Vanuatu' 'Romania' 'Indonesia' 'Sudan'
 'Chad' 'Central African Republic' 'Liberia' 'Malta' 'Seychelles'
 'Dominica' "People's Republic of the Congo" 'Suriname' 'North Yemen'
 'Vatican City' 'Guadeloupe' 'Martinique' 'Swaziland' 'Burkina Faso'
 'Man, Isle of' 'New Caledonia' 'Singapore' 'Corsica' 'Luxembourg' 'Nepal'
 'Hungary' 'Togo' 'Zambia' 'Sinhalese' 'Fiji' 'Ghana' 'Norway' 'Maldives'
 'Mauritius' 'Djibouti' 'Papua New Guinea' 'Cambodia' 'Mali' 'Qatar'
 'Rwanda' 'Cameroon' 'Estonia' 'Sierra Leone' 'Lithuania' 'Niger' 'Latvia'
 'Greenland' 'Burundi' 'Azerbaijan' 'Madagascar' 'Georgia'
 'Commonwealth of Independent States' 'Ukraine' 'Bosnia-Herzegovina'
 'Moldova' 'Iceland' 'Laos' 'Brunei' 'Tajikistan' 'Kazakhstan' 'Comoros'
 'Serbia-Montenegro' 'Gabon' 'Republic of the Congo' 'Macedonia' 'Benin'
 'Uzbekistan' 'Gambia' 'Slovak Republic' 'Czech Republic' 'Asian' 'Serbia'
 'St. Kitts and Nevis' 'Kyrgyzstan' 'Macau' 'Slovenia' 'French Guiana'
 'Belarus' 'Solomon Islands' 'East Timor' 'Kosovo' 'Belize' 'St. Lucia'
 'Guinea-Bissau' 'Montenegro' 'Bhutan' 'Oman' 'Bermuda' 'St. Martin'
 'Equatorial Guinea' 'South Sudan' 'Tuvalu' 'Virgin Islands (U.S.)'
 'Marshall Islands']
gname ['Black Nationalists' 'Tupamaros (Uruguay)' 'Unknown' ...
 'Fatoni Warriors' 'Minorities of Metropolitan Attacks'
 'Baloch Republican Party']
nkill [0.000e+00 7.000e+00 1.000e+00 4.700e+01 2.000e+00 3.000e+00 4.000e+00
 2.600e+01 8.100e+01 8.000e+00 5.000e+00 3.000e+01 1.200e+01 2.500e+01
 8.800e+01 1.100e+01 1.000e+01 2.700e+01 1.900e+01 6.000e+00 9.000e+00
 1.300e+01 7.300e+01 1.400e+01 4.200e+01 1.700e+01 9.800e+01 4.220e+02
 3.400e+01 5.400e+01 2.200e+01 1.800e+01 1.600e+01 5.000e+01 2.000e+01
 4.100e+01 1.500e+01 2.800e+01 4.000e+01 2.100e+01 3.200e+01 8.500e+01
 2.300e+01 3.000e+02 3.500e+01 6.000e+01 2.400e+01 8.700e+01 4.500e+01
 3.800e+01 1.000e+02 7.400e+01 8.300e+01 9.000e+01 6.600e+01 8.000e+01
 6.700e+01 5.100e+01 3.900e+01 3.700e+01 5.700e+01 3.100e+01 4.600e+01
 7.500e+01 5.600e+01 6.300e+01 1.200e+02 5.800e+01 1.020e+02 7.900e+01
 7.700e+01 4.900e+01 1.110e+02 2.410e+02 1.080e+02 1.320e+02 6.500e+01
 2.900e+01 4.300e+01 3.600e+01 3.300e+01 1.800e+02 2.500e+02 9.300e+01
 5.900e+01 9.400e+01 1.460e+02 5.200e+01 3.290e+02 6.200e+01 4.400e+01
 9.700e+01 7.000e+01 1.260e+02 1.060e+02 3.880e+02 6.800e+01 2.700e+02
 8.400e+01 5.300e+01 4.800e+01 8.200e+01 1.710e+02 1.070e+02 5.500e+01
 1.120e+02 1.140e+02 7.200e+01 9.600e+01 1.400e+02 2.000e+02 6.100e+01
 1.300e+02 1.050e+02 1.150e+02 1.180e+03 1.700e+02 1.680e+02 6.400e+01
 9.100e+01 1.350e+02 1.240e+02 2.560e+02 2.710e+02 2.060e+02 1.040e+02
 2.240e+02 9.500e+01 1.384e+03 1.383e+03 1.900e+02 1.190e+02 1.010e+02
 7.100e+01 1.100e+02 5.180e+02 3.440e+02 1.600e+02 1.880e+02 1.030e+02
 2.050e+02 9.200e+01 1.450e+02 1.530e+02 1.270e+02 6.900e+01 1.500e+02
 1.410e+02 1.340e+02 8.900e+01 8.600e+01 7.600e+01 2.870e+02 6.700e+02
 2.980e+02 1.220e+02 1.580e+02 1.440e+02 2.080e+02 1.520e+02 2.300e+02
 1.740e+02 1.210e+02 1.430e+02 2.400e+02 3.830e+02 1.540e+02 2.840e+02
 7.800e+01 2.660e+02 1.630e+02 1.280e+02 5.880e+02 3.110e+02]
nwound [0.000e+00 1.000e+00 2.000e+00 7.000e+00 9.000e+00 1.700e+01 5.000e+00
 3.000e+00 1.000e+01 1.200e+01 2.000e+01 4.000e+00 1.100e+01 2.700e+01
 1.300e+01 1.900e+01 1.300e+02 5.600e+01 2.400e+01 6.000e+00 7.200e+01
 2.380e+02 5.500e+01 1.500e+01 8.000e+00 1.800e+01 5.000e+01 3.400e+01
 1.400e+01 7.000e+01 1.020e+02 4.100e+01 4.800e+01 3.600e+01 2.500e+01
 8.100e+01 5.400e+01 5.300e+01 1.000e+02 4.500e+01 3.300e+01 4.000e+01
 6.200e+01 7.400e+01 2.200e+01 3.100e+01 1.600e+01 3.000e+01 2.850e+02
 2.300e+01 4.200e+01 4.300e+01 7.600e+01 4.400e+01 5.200e+01 4.600e+01
 4.900e+01 1.600e+02 3.700e+01 2.100e+01 6.000e+01 2.600e+01 2.800e+01
 3.900e+01 3.800e+01 3.500e+01 3.200e+01 7.800e+01 8.000e+01 4.700e+01
 1.880e+02 8.500e+01 7.500e+01 1.610e+02 9.000e+01 3.000e+02 9.500e+01
 1.350e+02 6.100e+01 1.380e+02 7.100e+01 7.000e+02 6.600e+01 1.360e+02
 1.200e+02 2.170e+02 3.190e+02 1.330e+02 6.800e+01 7.300e+01 2.900e+01
 7.510e+02 1.120e+02 2.500e+02 8.200e+01 2.000e+02 1.320e+02 2.300e+02
 1.070e+02 1.140e+02 8.400e+01 1.400e+02 1.500e+02 5.100e+01 5.800e+01
 6.400e+01 2.950e+02 1.060e+02 1.250e+02 6.900e+01 5.900e+01 1.220e+02
 1.090e+02 8.800e+01 1.150e+02 1.760e+02 2.200e+02 9.700e+01 6.500e+01
 5.700e+01 8.000e+02 1.730e+02 9.200e+01 5.000e+02 2.360e+02 9.800e+01
 2.860e+02 5.500e+03 6.500e+02 6.710e+02 8.600e+01 1.040e+02 8.300e+01
 1.010e+02 1.272e+03 1.050e+02 3.860e+02 3.910e+02 1.100e+02 1.490e+02
 8.900e+01 9.100e+01 1.190e+02 7.700e+01 1.180e+02 6.700e+01 1.700e+02
 1.940e+02 1.920e+02 2.270e+02 2.600e+02 4.000e+03 1.800e+02 1.840e+02
 9.900e+01 9.400e+01 1.370e+02 8.190e+03 8.191e+03 1.710e+02 1.210e+02
 1.030e+02 1.620e+02 1.970e+02 1.510e+02 2.240e+02 1.340e+02 2.330e+02
 1.670e+02 4.500e+02 2.160e+02 1.450e+02 6.300e+01 7.270e+02 1.820e+02
 1.590e+02 1.080e+02 1.280e+02 3.400e+02 1.630e+02 5.420e+02 8.700e+01
 1.550e+02 9.600e+01 8.170e+02 2.570e+02 1.480e+02 1.230e+02 2.460e+02
 1.270e+02 3.470e+02 1.780e+02 1.680e+02 2.070e+02 1.830e+02 1.170e+02
 7.500e+02 1.470e+02 1.001e+03 9.300e+01 1.410e+02 1.540e+02 2.350e+02
 1.580e+02 2.110e+02 1.160e+02 2.760e+02 5.520e+02 3.600e+02 1.130e+02
 1.570e+02 1.750e+02 3.010e+02 1.310e+02 4.000e+02 3.700e+02 8.500e+00
 1.690e+02 2.010e+02 1.110e+02 2.150e+02 1.430e+02 1.530e+02 1.240e+02
 7.900e+01 2.700e+02 1.520e+02 2.960e+02 2.450e+02 1.500e+03 3.510e+02
 6.000e+02 4.330e+02 1.770e+02 4.910e+02 4.050e+02 8.510e+02 3.160e+02]
weaptype1_txt ['Firearms' 'Explosives' 'Incendiary' 'Chemical' 'Melee'
 'Sabotage Equipment'
 'Vehicle (not to include vehicle-borne explosives, i.e., car or truck bombs)'
 'Fake Weapons' 'Radiological' 'Other' 'Biological']

In [168]:
# # Define mapping dictionaries

# extended_map = {
#     0: 'Did Not Extend', 1: 'Extended'
# }

# success_map = {
#     0: 'Succeeded', 1: 'Failed'
# }

# suicide_map = {
#     0: 'Committed', 1: 'Did Not Commit'
# }


# df2['extended'] = df2['extended'].map(extended_map)
# df2['success'] = df2['success'].map(success_map)
# df2['suicide'] = df2['suicide'].map(suicide_map)

# # Display the DataFrame with mapped values
# df2.head(10)

In [169]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128838 entries, 0 to 128837
Data columns (total 17 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   iyear            128838 non-null  int64
 1   imonth           128838 non-null  int64
 2   country_txt      128838 non-null  object
 3   extended         128838 non-null  int64
 4   success          128838 non-null  int64
 5   suicide          128838 non-null  int64
 6   region_txt       128838 non-null  object
 7   city             128838 non-null  object
 8   latitude         128838 non-null  float64
 9   longitude        128838 non-null  float64
 10  attacktype1_txt  128838 non-null  object
 11  targtype1_txt    128838 non-null  object
 12  natlty1_txt      128838 non-null  object
 13  gname            128838 non-null  object
 14  nkill            128838 non-null  float64
 15  nwound           128838 non-null  float64
 16  weaptype1_txt    128838 non-null  object
dtypes: float64(4), int64(5), object(8)
memory usage: 16.7+ MB

In [170]:
# # Convert 'iyear' to string
# df2['iyear'] = df2['iyear'].astype(str)

# # Create a dictionary to map month numbers to month names
# month_map = {1: 'JAN', 2: 'FEB', 3: 'MAR', 4: 'APR', 5: 'MAY', 6: 'JUN',
#              7: 'JUL', 8: 'AUG', 9: 'SEP', 10: 'OCT', 11: 'NOV', 12: 'DEC'}

# # Map 'imonth' to month names
# df2['imonth'] = df2['imonth'].map(month_map)

In [171]:
# Convert 'latitude' and 'longitude' to string type

df2['latitude'] = df2['latitude'].astype(str)
df2['longitude'] = df2['longitude'].astype(str)

In [172]:
# Convert 'nkill' and 'nwound' to integer type
df2['nkill'] = df2['nkill'].fillna(0).astype('int64')
df2['nwound'] = df2['nwound'].fillna(0).astype('int64')

print(df2.dtypes)

iyear               int64
imonth              int64
country_txt        object
extended            int64
success             int64
suicide             int64
region_txt         object
city               object
latitude           object
longitude          object
attacktype1_txt    object
targtype1_txt      object
natlty1_txt        object
gname              object
nkill               int64
nwound              int64
weaptype1_txt      object
dtype: object

In [173]:
column_rename_map = {
    'country_txt': 'country_name',
    'region_txt': 'region',
    'attacktype1_txt': 'attack_type',
    'targtype1_txt': 'target_type',
    'natlty1_txt': 'nationality_of_target',
    'gname': 'group_name',
    'nkill': 'number_of_kills',
    'nwound': 'number_of_wounds',
    'weaptype1_txt': 'weapon_type'
}
df2 = df2.rename(columns=column_rename_map)
df2.columns

Index(['iyear', 'imonth', 'country_name', 'extended', 'success', 'suicide',
       'region', 'city', 'latitude', 'longitude', 'attack_type', 'target_type',
       'nationality_of_target', 'group_name', 'number_of_kills',
       'number_of_wounds', 'weapon_type'],
      dtype='object')

In [175]:
df2.shape

(128838, 17)

In [174]:
df2.to_csv('cleaned_globalterrorismdb_0718dist.csv', index=False)

In [176]:
df2.head(10)

,iyear,imonth,country_name,extended,success,suicide,region,city,latitude,longitude,attack_type,target_type,nationality_of_target,group_name,number_of_kills,number_of_wounds,weapon_type
0,1970,1,United States,0,1,0,North America,Cairo,37.005105,-89.176269,Armed Assault,Police,United States,Black Nationalists,0,0,Firearms
1,1970,1,Uruguay,0,0,0,South America,Montevideo,-34.891151,-56.187214,Assassination,Police,Uruguay,Tupamaros (Uruguay),0,0,Firearms
2,1970,1,United States,0,1,0,North America,Oakland,37.791927,-122.225906,Bombing/Explosion,Utilities,United States,Unknown,0,0,Explosives
3,1970,1,United States,0,1,0,North America,Madison,43.076592,-89.412488,Facility/Infrastructure Attack,Military,United States,New Year's Gang,0,0,Incendiary
4,1970,1,United States,0,1,0,North America,Madison,43.07295,-89.386694,Facility/Infrastructure Attack,Government (General),United States,New Year's Gang,0,0,Incendiary
5,1970,1,United States,0,0,0,North America,Baraboo,43.4685,-89.744299,Bombing/Explosion,Military,United States,"Weather Underground, Weathermen",0,0,Explosives
6,1970,1,United States,0,1,0,North America,Denver,39.758968,-104.876305,Facility/Infrastructure Attack,Military,United States,Left-Wing Militants,0,0,Incendiary
7,1970,1,Italy,0,1,0,Western Europe,Rome,41.890961,12.490069,Hijacking,Airports & Aircraft,United States,Unknown,0,0,Firearms
8,1970,1,United States,0,1,0,North America,Detroit,42.331685,-83.047924,Facility/Infrastructure Attack,Government (General),United States,Left-Wing Militants,0,0,Incendiary
9,1970,1,United States,0,1,0,North America,Rio Piedras,18.386932,-66.061127,Facility/Infrastructure Attack,Business,United States,Armed Commandos of Liberation,0,0,Incendiary